{% extends "base.html" %}



<!-- Marca o menu upload -->
{% block menu-upload %}
<li class="nav-item active">
    <a href="/upload" class="nav-link">


        <i class="fas fa-upload"></i>
        <span translate="no">Uploads </span>

    </a>

</li>
{% endblock %}
<!-- Conteudo -->
{% block conteudo %}
<div class="card">
    <div class="card-header">
        <h3> <i class="nav-icon fas fa-upload"></i> Uploads</h3>

    </div>
    <div class="card-body">

        <div class="row">
            <div class="col-5">

                <form method="post" action="/salvar_arquivo" enctype="multipart/form-data" id="form">
                    {% csrf_token %}

                    <div class="row">

                        <div class="col-8">

                            <input type="file" name="arquivo" class="form-control pt-1 text-center" id="file" />
                            <input type="hidden" name="id_usuario" value="">

                        </div>
                        <div class="col-4">

                            <button type="submit" class="btn btn-primary" id="btn-enviar">
                                <i class="fas fa-upload"></i>
                                Enviar
                            </button>



                        </div>
                    </div>

                </form>


            </div>

            <div class="col-7">
                <div class="row">

                    <div class="col-4 text-right">
                        <div class="dropdown">

                        </div>

                    </div>
                    <div class="col-8">
                        <div class="row">

                            <div class="col-12">
                                <form action="./upload.php" method="post">




                                    <input type="text" class="form-control inputValor w-75" style="display:inline;" name="valor_pesquisa" placeholder="Digite aqui">


                                    <button class="btn btn-primary mb-1" style="display:inline;">
                                        <i class="fas fa-search"></i>
                                    </button>

                                </form>
                            </div>


                        </div>


                    </div>

                </div>
            </div>

        </div>
    </div>

</div>

<div class="card mt-3">
    <div class="card-header">
        <div class="row">
            <div class="col-10">
                <h3>
                    Arquivos
                </h3>
            </div>
            <div class="col-2">

                <button class="btn btn-danger" data-toggle="modal" data-target="#excluirUpload"><i class="fas fa-trash"></i> Excluir tudo</button>
            </div>
        </div>
    </div>
    <div class="card-body">

        <table class="table" id="myTable">

            <thead>
                <tr>
                    <th class="text-center">Tipo</th>
                    <th class="text-center">Nome</th>
                    <th class="text-center">Data</th>
                    <th class="text-center">Usuário</th>
                    <th class="text-center">Operações</th>
                </tr>
            </thead>


            <tbody class="arquivos-table">

                {% for arquivo in arquivos %}

                <tr>
                    <td>{{ arquivo.tipo }}</td>
                    <td>{{ arquivo.nome }}</td>
                    <td>{{ arquivo.data }}</td>
                    <td>leandro@gmail.com</td>

                </tr>

                {% endfor %}

            </tbody>


        </table>
    </div>
</div>

{% endblock %}